header h1 {
    font-size: 1.3em;
    color: #00496e;
}

body {
    margin: 0 auto;
    width: 40%;
}

#profile {
    margin: 0 auto;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    align-items: center;
}

#profile > img {
    text-align: center;
    margin: 0 auto;
}

body > h2 {
    color: #00496e;
}

footer {
    margin-top: 50px;
    font-size: 0.9em;
    width: 100%;
    height: 30px;
    text-align: right;
}

body > ul li {
    padding-top: 3px;
    padding-bottom: 3px;
}


/* responsive */
@media screen and (max-width: 1024px) {
    body {
        width: 80%;
    }

    body > h1 {
        text-align:center;
    }

    #profile {
        margin: 0 auto;
        flex-direction: column;
        text-align:center;
        justify-content: center;
        align-items: center;
    }

    #profile > img {
        text-align: center;
        margin: 0 auto;
    }

}

@media screen and (max-width: 960px) {
    body {
        width: 90%;
    }

    body > h1 {
        text-align: center;
    }

    #profile {
        width: 90%;
        flex-direction: column;
        text-align: center;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        align-items: center;
    }

    #profile > img {
        margin: 0 auto;
    }

}
